.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.btn-secondary {
    background-color: white !important;
    color: black !important;
}

.container {
    background-color: white;
    padding: 3vh 3vw;
}

.navbar {
    background-color: red;
    margin-bottom: 3vh;
}

.banner {
    min-height: 70vh;
    background-image: url("../src/papa.jpg");
    background-size: cover;
}

.stepsContainer {
    padding-top: 3vh;
    background-color: #F7f7f7;
}

.containerSelects {
    padding-top: 3vh;
    min-height: 30vh;
}

.text-banner {
    padding-top: 5vh;
}


/* FORMMMMMM */

.logo {
    width: 15vw;
    height: 6vh;
}

.butn {
    background-color: white;
    color: red;
    font-weight: 600;
    font-size: 15px;
}

.ico {
    width: 3vw;
    height: 9vh;
}

.colo-red {
    color: red;
    text-align: left;
}

.align-left {
    text-align: left;
}

.stepsContainer {
    text-align: center;
    padding-top: 5vh;
}

.containerSelects {
    padding-top: 10vh;
    text-align: center;
}

.containerSelects>div>div>select {
    border: red 2px solid;
}

.butn-collaps {
    border: red 2px solid;
    height: 8vh;
    color: black;
    margin-right: 3vw;
}

.plus {
    width: 1vw;
    height: 2vh;
}

.btn-sm {
    height: 5vh;
}